.container {
    position: relative;
    width: 100%;
    height: 55rem;
  }
  
  .rectangle {
    position: absolute;
    /* border: 1px solid #000; */
  }
  
  .rectangle:nth-child(1) {
    top: 16%;
    left: 17%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(2) {
    top: 51%;
    left: 17%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(3) {
    top: 16%;
    left: 33%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(4) {
    top: 51%;
    left: 33%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(5) {
    top: 16%;
    left: 52%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(6) {
    top: 51%;
    left: 52%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(7) {
    top: 16%;
    left: 68%;
    width: 15%;
    height: 35%;
  }
  
  .rectangle:nth-child(8) {
    top: 51%;
    left: 68%;
    width: 15%;
    height: 35%;
  }
  